/* 
style.css 
---------------

Par Mourad Attig
*/

/*	-----------------------------
	Globale
	-----------------------------*/
	body {
		background-color: #DEE0E2;
		margin: 0px; 
	}

	#bloc_page {
		display: flex;
	}

/*	-----------------------------
	Les Typologie 
	-----------------------------*/
	body {
		font-family: Arial, sans-serif; 
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.3em;
		color: #AA6C39
	}

	p, li {
		font-size: 0.8em;
	}

/*	-----------------------------
	Titre de la page 
	-----------------------------*/
	h1, .titre{
		text-align: center;
	}

	section {
		width: 100%;
		 
	}

/*	-----------------------------
	Liens 
	-----------------------------*/
	a {
		color: black; 
		text-decoration: none;  
	}

	a:hover {
		color: #550000; 
	}

/*	-----------------------------
	Liseret
	-----------------------------*/
	aside {
		background-color: black;
		width: 150px; 
		height: 600px; 
		border-radius: 5px; 
	}

	/*	-----------------------------
	Catégories du CV 
	-----------------------------*/
	#categories {
		display: inline-block;
		display: flex;
		justify-content: space-around;
	}

	/*	-----------------------------
	CV Responsive 
	-----------------------------*/
	@media screen and (max-width: 1024px)
	{
		#liseret {
			display: none;
		}

		#categories {
			flex-direction: column;
			margin-left: 50px; 
		}
	}